@import "src/constants/constans";

.scene {
    @include flexColumn(center, center);
    
    &__ui {
        position: relative;
    }

    &__table {
        position: absolute;
        top: 40%;
        right: 5%;
    }

    &__panel {
        position: absolute;
        bottom: 5%;
        right: 5%;
    }
}
