:root {
  --main-color: #7a7878;

  --dark: #110f10;
  --grey: #f8f7f7;
  --grey-pale: #dfddde;

  --accent: #0c44ac;
  --accent-light: #548bf3;

  --white: #fff;
  --red: #dd0055;
  --green: #00a190;
  --gold: #ffa500;

  --box-shadow-color: #00000005;
}