:root {
  --main-color: #7a7878;

  --dark: #110f10;
  --dark-light: #2b2b2b;

  --grey: #f8f7f7;
  --grey-pale: #dfddde;

  --accent: #0c44ac;
  --accent-light: #548bf3;

  --white: #fff;
  --red: #b62427;
  --green: #00a190;
  --gold: #fcac17;

  --box-shadow-color: #00000005;
}
