@import "src/assets/styles/constants";

.window {
    &__label {
        color: $green_light;
        font-size: toRem(15);
        line-height: 86.666667%; /* 13/15 */
    }

    &__wrapper {
        position: relative;
        width: toRem(224);
        height: toRem(60);
    }

    &__content {
        position: relative;
        width: 100%;
        height: 100%;
        @include flexRow(center, center);
        z-index: 1;
        padding-right: toRem(32);
        font-size: toRem(32);
        line-height: 108.571429%; /* 38/35 */
    }

    &__icon {
        position: absolute;
        width: toRem(103);
        @include flexRow(center, center);
        bottom: -17%;
        right: -8%;
        z-index: 1;
    }

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        object-fit: cover;
        object-position: center;
    }
}
