@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "src/assets/styles/base/mixins";

$fontSize: toRem(16);
$lineHeight: 137.5%; /* 22/16 */
$fontFamily: 'Roboto';

// Переменные ==============================================================================================================================================================================================================================================================================
$mainColor: var(--main-color);

$dark: var(--dark);
$dark_light: var(--dark-light);

$grey: var(--grey);

$grey_pale: var(--grey-pale);

$accent: var(--accent);
$accent_light: var(--accent-light);

$white: var(--white);
$red: var(--red);
$green: var(--green);
$green_light: var(--green-light);
$gold: var(--gold);

$box_shadow: 0 toRem(12) toRem(24) toRem(-4) var(--box-shadow-color);
$radius: toRem(12);
$transition: 0.2s ease;
$bg_blur: blur(toRem(5));

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1350;
$paddingContainer: 35;

// Брейк-поинты
$pc: em(1199.98); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S
